<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongbo.mapper.UserMapper">
  <resultMap id="UserResultMap" type="com.dongbo.entity.User">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone" jdbcType="DECIMAL" property="phone" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  
  <sql id="user_List">
    id, user_name, phone, birthday, sex, password
  </sql>
 
  <insert id="insert" parameterType="com.dongbo.entity.User">
    insert into t_user (id, user_name, phone, 
      birthday, sex, password)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{phone,jdbcType=DECIMAL}, 
      #{birthday,jdbcType=DATE}, #{sex,jdbcType=CHAR}, #{password,jdbcType=VARCHAR})
  </insert>
 
  <delete id = "delete" parameterType = "com.dongbo.entity.User" >
 	delete from t_user where id =  #{id,jdbcType=VARCHAR}
  </delete>
  
  <select id="query" parameterType="com.dongbo.entity.User" resultMap ="UserResultMap">
    select
	<include refid="user_List"/>
	from t_user
	<where>
	  <if test="id != null">
	   and id =  #{id,jdbcType=VARCHAR}
	  </if>
      <if test="userName != null">
       and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="phone != null">
       and phone = #{phone,jdbcType=DECIMAL}
      </if>
      <if test="birthday != null">
       and birthday = #{birthday,jdbcType=DATE}
      </if>
      <if test="sex != null">
       and sex = #{sex,jdbcType=CHAR}
      </if>
      <if test="password != null">
       and password = #{password,jdbcType=VARCHAR}
      </if>
	</where>
  </select>
  
  <update id="update" parameterType="com.dongbo.entity.User">
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=DECIMAL},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id =  #{id,jdbcType=VARCHAR}
  </update>
</mapper>